#page-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#page-loading img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.fab, .fab:active {
    background-color: #00AACC;
}

.gm-style > div:first-child {
    z-index: 10000000 !important;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

#avatar-canvas {
    position: absolute;
    z-index: 10000001;
}

#page-change-avatar div.page__background {
    background: transparent;
    background-color: rgba(0,0,0,0);
}
#page-change-avatar ons-list-item.list__item {
    line-height: 30px;
    min-height: 30px;
}
#page-change-avatar div.list__item__center {
    min-height: 30px;
}

#video {
    display: none;
}

#cameraview-canvas {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}